@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-------------- Controle Interno inicio --------------*/

html{
    
}

:root{
    --margin_lateral: 100px; /*Margem Lateral do Site*/
    --tamanho_lateral_slide: 400%;
    --tamanho_vertical_slide: 460px;

    --tamanho_lateral_slide_img: 1865px;
    --tamanho_vertical_slide_img: 460px;

    --color-radio: rgba(99, 99, 99, 0.379);  /*Cor dos Três Btns do Slide*/
    --color-nav: rgb(38, 66, 182);  /*Cor do Menu do Cabeçalho*/
    --color-dropdown: rgba(0, 0, 0, 0.587); /*Cor do dropdown*/
    --color-pitchbar: rgb(76, 79, 152); /*Cor da pitchbar*/
    --color-btn-buy: rgb(15, 189, 15); /*Cor da Hover dos Buy button*/
    --color-btn-buy-text: #fff; /*Cor da Hover dos Buy button TEXT*/


    --font-text: 16px;
    --font-title: 18px;


    /**/
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-text);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*-------------- Controle interno FIM --------------*/

/*body{

}*/



/*Cabeçalho*/

header{
    background-color: var(--color-nav);
    padding: 10px;
}


.img_logo h1{
    color: white;
    
}




.search-bar {
    display: inline-flex;
    width: 100%;
    
}
.search-container input[type="text"] {
    flex: 1; 


}
.search-container input {
    
    text-align: left;
    
    border-right: none;
    outline: none !important;
    border: none;
    box-shadow: none;

    font-size: var(--font-text);
    font-weight: bolder;

    width: 600px;
    height: 15px;

    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.search-bar .btn_sub{
    outline: none !important;
    border: none;
    box-shadow: none;

    width: 50px;

    cursor: pointer;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;


    background-color: #fff;

    
}
.search-container{
    display: grid;
    place-items: center;
}



.fixed_menu{
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.img_logo, .menu-btn {
    position: absolute;
    top: 0;

}

.img_logo{
    left: 140px;
}


.menu-btn {
    list-style: none;
    right: 130px;
}

.search-container{

  
    grid-column: 2;
    margin: 0 auto;
}

header li{
    display: inline-block;
    margin-right: 10px;
    
}

header ul li a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    
}

.dropdown_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    border-top: 0.5px solid rgba(255, 255, 255, 0.77);
}

/* Estilize o dropdown */

.dropdown button:hover{
    background-color: rgb(102, 102, 102);
}

/* Estilize o botão do dropdown */
.dropdown button {
    background-color: var(--color-nav);
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Estilize o conteúdo dos itens*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilize os itens do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mude a cor de fundo do item quando o mouse passar por cima */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostre o conteúdo do dropdown quando o mouse passar por cima do botão */
.dropdown:hover .dropdown-content {
    display: block;
}

/*FIM cabeçalho*/



/*Main INICIO
main{

}

/*Main FIM*/



/*--------------Slide Carrosel Inicio --------------*/


.slide{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: auto;

    padding: 0 !important;
}

.slide-content{
    width: var(--tamanho_lateral_slide);
    height: var(--tamanho_vertical_slide);
    display: flex;
}

.slide-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    background-color: #0f0f0f;
    position: relative;
    text-align: center;

    overflow-y: hidden;

    transition: 1s;

}

.slide-box img{
    width: var(--tamanho_lateral_slide_img);
    height: var(--tamanho_vertical_slide_img);

   

    /*    
    width: 85%;
    height: 700px;
    */
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    top: 35rem;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--color-radio);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 15px;
}

.nav-manual .manual-btn:hover{
    transition: 0.2s;
    background-color: var(--color-radio-hover);
}

#radio1:checked ~ .nav-auto .auto1{
    background-color:var(--color-radio);
}

#radio2:checked ~ .nav-auto .auto2{
    background-color:var(--color-radio);
}

#radio3:checked ~ .nav-auto .auto3{
    background-color:var(--color-radio);
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

/*-------------- Slide Carrosel FIM --------------*/


/*-------------- Pitch bar INICIO --------------*/

.pitchbar{
    display: inline-flex;
    justify-content: center;

    width: 100%;

    margin-top: 5%;


    
}

.pitchbar p{
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;

    text-align: center;
    font-size: var(--font-text);

}

.pitchbar a{
    color: black;
}

.pitchbar a:hover{
    color: rgba(49, 49, 49, 0.863);
}

.pitchbar_root{

    width: 300px;
    height: 90px;

    border-radius: 40px;

    display: inline-flex;
    

    padding: 5px;
    background-color: var(--color-pitchbar);
    margin: 10px;    
    margin-right: 50px;
    margin-left: 50px;
}

.pitchbar_root img{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}


/*-------------- Pitch bar FIM --------------*/

/*-------------- Mais Vendidos --------------*/

.container_best_product{
    display: flex;
}

.best_sell_title{
    font-size: var(--font-title);

    margin-bottom: 2%;
    margin-top: 70px;
    margin-left: 200px;

    width: max-content;

    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
}

.best_sell_product{
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.product{
    background-color: rgb(211, 211, 211);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 5px;
    width: 250px;
    text-align: center;
    border-radius: 5%;
}

.product input{
    width: 80%;
    height: 30px;
}
.product input:hover{
    background-color: var(--color-btn-buy);
    color: var(--color-btn-buy-text);
}

.product img{
    width: 210px; /* Largura desejada */
    height: 210px; /* Altura desejada */
    object-fit: cover;
}

.ig-container{
    width: max-content;
}

.ig-h1{
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
}

.g1-h1{

}