@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none;
    color: red;
    background-color: rgb(65, 65, 65);
    padding: 3px;
    border-radius: 100px;
}


.box-products img{
    width: 200px;
    height: 200px;
}



.box-products{
    margin-top: 80px;
    margin-bottom: 200px;
    justify-content: space-between;
    display: flex;
    text-align: center;

    
}

.product{   

    width: 310px;
    margin-left: var(--margin-lateral-cards);
    margin-right: var(--margin-lateral-cards);
    background-color: rgba(204, 204, 204, 0.411);
    border-radius: 10px;
    padding: 13px;
    overflow-x: hidden;
}

.product input{
    margin-top: 20px;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}

.product #p_preco{
    margin-top: 5px;
}

.product input:hover{
    background-color: rgba(122, 122, 122, 0.411);
    
}



.box-content{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 100px;
}

.box-info{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin-lateral);
    margin-right: var(--margin-lateral);

}


.box-sep{
    width: 300px;
    height: 350px;
    padding: 15px;
    background-color: var(--color-info);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    
    box-shadow: 4px 7px 11px 0px rgba(0, 0, 0, 0.5);

}

.box-sep p{
    vertical-align: bottom;
}
